# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.env
*.env

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.db-journal

# Project-specific
.pdm-python
.pytest_cache/
/backend/8.1.1 